@{
    Layout = "~/Views/Shared/_LayoutLoggedOut.cshtml";
    ViewData["title"] = "Logowanie";
}

<style>
    .login-page {
        color: #fefefe;
    }
</style>

<div class="login-page bg-dark">
    @using(Html.BeginForm("Login", "Home", FormMethod.Post)) 
    {
        <div class="form-group">
            <label for="login">Login</label>
            <input type="text" id="login" name="login" placeholder="example@email.com" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="password">Hasło</label>
            <input type="password" id="password" name="password" class="form-control"/>
        </div>
        <button class="btn btn-primary" type="submit">Zaloguj</button>
    }
</div>

